/* #region */
/* #endregion */

/* #region reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    ;
}

a {
    text-decoration: none;
    color: inherit;
}

/* #endregion reset*/

/* #region utilities*/
:root {
    --white: #ffffff;
    --grey: #dadadd;
    --light-blue: #b4d0e7;
    --blue: #0061ff;
    --dark-blue: #0d2481;
    --turquoise: #0093ce;
    --light-green: #a2d39b;
    --very-light-green: #d1e9cd;
    --purple-red: #61082b;
    --red: #ff1c1c;
    -yellow: #ffd830;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    flex-direction: column;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.large-container {
    width: 80%;
    margin: auto;
}

.container {
    width: 70%;
    margin: auto;
}

img {
    max-width: 100%;
}

/* #endregion utilities*/
/* ----------------------------------------regole row and col-4 col-12 */
.row {
    justify-content: space-between;
    padding-bottom: 3rem;
}

.col-4-cards {
    width: calc((100% / 12 * 4) - 2rem);
}

.col-12 {
    width: 100%;
}

/* ---------------------------------perché qusete non vanno con i 12esimi ? */
.col-8 {
    width: 60%;
}

.col-4 {
    width: 40%;
}

/* ---------------------------------perché qusete non vanno con i 12esimi ? */


/* #region debug*/
.debug .header-left {
    background-color: orange;
    border: 2px dotted;
    width: 50%;
    height: 50px;
}

.debug .header-right {
    background-color: orange;
    border: 2px dotted;
    width: 50%;
    height: 50px;
}

/* --------------------------------------------- */
.debug .jumbotron {
    background-color: var(--light-blue);
    border: 2px dotted;
    width: 100%;
    height: 770px
}

.debug .col-4 {
    background-color: #ff1c1c;
    border: 2px dotted;
    width: calc(100% / 12 * 4);
    height: 770px
}

.debug .col-12 {
    background-color: #ff1ce8;
    border: 2px dotted;
    height: 480px
}

.debug .small-card {
    background-color: #f7ff1c;
    border: 2px dotted;
    width: calc(100% / 12 * 4);
    /* ----------------------------------------con questa misura non vanno a capo  se allarga il viewport*/
    height: 580px;

}

.debug .many-teams {
    background-color: #491cff;
    border: 2px dotted;
    ;
    height: 480px
}

.debug .partnerships {
    background-color: #ff1c1c;
    border: 2px dotted;
    ;
    height: 480px
}

.debug .bring {
    background-color: #0093ce;
    border: 2px dotted;
    height: 250px
}

.debug .FAQ {
    background-color: #19cca5;
    border: 2px dotted;
    height: 250px
}

.debug footer {
    background-color: black;
    height: 480px;
}

.debug .footer-col {
    background-color: #b4d0e7;
    border: 2px dotted;
    width: calc(100% / 5);
    height: 250px;
}

/* #endregion debug*/

/* #region header*/
.header-left ul {
    justify-content: ;
    align-items: center;
}

.header-left li {
    padding: 1rem;
    font-size: small;
}

/* ---------------------------------------- header left */
header {
    justify-content: space-between;
    background-color: var(--white);
    position: fixed;
    width: 100%;
    height: 50px;
    /* ----------------------------------------------------------------------------------c'é uno strano margine sopra  */
}

.header-right ul {
    align-items: center;
}

.header-right li {
    padding: 1rem;
    font-size: small;
}

#start-btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 0.4rem 1rem;
}

/* #endregion header*/

/* #region jumbotron*/
.jumbotron {
    background-color: var(--light-blue);
}

.jumbotron h1 {
    font-size: 3rem;
    font-weight: 1000;
    padding: 6rem 0 3rem 0;
}

/* ------------------------------------ */
.jumbo-text .col-4 {
    width: calc(100% / 12 * 4);
}

.jumbo-text .col-8 {
    width: calc(100% / 12 * 8);
    ;
}

.jumbo-text img {
    position: relative;
    z-index: 1;
}

.jumbo-text button {
    all: unset;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.4rem 1rem;
    margin: 2rem 0;
}

.jumbo-text i {
    margin: 2rem 0 1rem 0;
    position: relative;
    z-index: 1;

}

/* ---------------------------------------------------barra bianca sotto img jumbo probabilmente basta spostare la section sopra in giú con position abs*/
#white-row {
    background-color: var(--white);
    border: 2px dotted;
    width: 100%;
    height: 100px;
    position: relative;
    top: -50px;
    left: 0;
}

/* #endregion jumbotron*/

/* #region business-plans*/
.business-plans h2 {
    padding: 0 0 2.5rem 0;
}

.business-plans label {
    display: inline-block;
    margin-right: 3rem;
    margin-bottom: 3rem;
}



/* #region card */
.card-border {

    border: 2px solid var(--grey);
    height: 100%;
    /* questo fa arrivare tutte le colonne allo stesso livello */

}

.card-head {
    justify-content: center;
    border-bottom: 2px solid var(--grey);
    padding: 0.5rem 0;
}

.card-body {
    justify-content: center;
}

.card-container {
    padding: 0 2rem;
}

/* #region plan details */
/* ---------------------------tutte le regole del plan */
.card-body h3 {
    font-size: 24px;
    padding: 2rem 0;
}


.plan-price h4 {
    padding: 2rem 0 0.5rem 0;
}

.recurrency {
    font-size: 14px;
    color: grey;
    padding-bottom: 1rem;
}

.plan-details>* {
    padding: 1rem 0 0 0;
}

.free-trial-btn button {
    all: unset;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.4rem 1rem;
    margin: 2rem 0;
}

.buy-now {
    padding-bottom: 2rem;
}

.buy-now a {
    color: #0061ff;
    text-decoration: underline;
}

#card-small-hr {
    display: inline-block;
    width: 50px;
    margin-left: 2rem;
    border: 0px;
    border-top: 2px solid var(--grey);
    padding-bottom: 2rem;
}

.plan-resume>* {
    padding-bottom: 2rem;
}

.plan-resume ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
}

.plan-resume li {
    padding-left: var(--icon-space);
    padding-bottom: 1rem;
}

.plan-resume li:before {
    content: "\f00c";
    color: var(--blue);
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc(var(--icon-space) * -1);
    width: var(--icon-space);
    /* grazie stack overflow */
}

.plan-resume li:last-child {
    padding-left: var(--icon-space);
    padding-bottom: 3rem;
}

/* #endregion plan details */
/* #region -------------------large card */
.card-large {
    margin-top: 3rem;
}

.plan-title {
    justify-content: space-between;
}

.plan-title button {
    all: unset;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.4rem 1rem;
    margin: 2rem 0;
}

.enterprise-large-details p {
    padding-top: 2rem;
}

/* #endregion ----------------large card */

/* #endregion card */

/* #endregion business-plans*/

/* #region contact-us */
.contact-us h2 {
    padding: 3rem 2rem 1rem 2rem;
}

.contact-us p {
    padding: 1rem 2rem 1rem 2rem
}

.contact-us button {
    all: unset;
    cursor: pointer;
    background-color: var(--white);
    border: 2px solid;
    padding: 0.4rem 1rem;
    margin: 1rem 2rem 1rem 2rem;
}

/* #endregion contact-us */

/* #region operation-business */
.operation-business h2 {
    font-size: 1.8rem;
    padding: 2rem 0;
}

.operations-business .row {
    justify-content: space-around;

}

.operation-business .small-card {
    padding: 1rem;
    width: 300px;
    /* hanno una misura fissa cosí se il viewport é largo si allineano*/
}

.operation-business h3 {
    padding: 1rem 0;
}

/* #endregion operation-business */

/* #region many-teams */
.many-teams h2 {
    font-size: 26px;
    padding: 2rem 0;
}

.many-teams a {
    text-decoration: underline;
    color: blue;
}

/* #endregion many-teams */

/* #region partnerships-area*/
.partnerships-area {}

.left-logos {
    max-width: 440px;
}

.center-logo {
    flex-grow: 1;
}

.right-logos {
    max-width: 440px;
}

.small-box {
    min-height: 220px;
    min-width: 220px;
}

.center-logo {
    background-color: var(--grey);
}

/* vari loghi */
.designit {
    background-color: var(--light-green);
}

.asu {
    background-color: var(--purple-red);
}

.florida {
    background-color: var(--turquoise);
}

.topps {
    background-color: var(--red);
}

/* #endregion partnerships-area*/