/* #region */
/* #endregion */

/* #region reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    ;
}

a {
    text-decoration: none;
    color: inherit;
}

/* #endregion reset*/

/* #region utilities*/
:root {
    --white: #ffffff;
    --light-blue: #b4d0e7;
    --blue: #0061ff;
    --dark-blue: #0d2481;
    --turquise: #0093ce;
    --light-green: #a2d39b;
    --very-light-green: #d1e9cd;
    --purple-red: #61082b;
    --red: #ff1c1c;
    -yellow: #ffd830;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.large-container {
    width: 80%;
    margin: auto;
}

.container {
    width: 70%;
    margin: auto;
}

img {
    max-width: 100%;
}

/* #endregion utilities*/

/* #region debug*/
.debug .header-left {
    background-color: orange;
    border: 2px dotted;
    width: 50%;
    height: 50px;
}

.debug .header-right {
    background-color: orange;
    border: 2px dotted;
    width: 50%;
    height: 50px;
}

/* --------------------------------------------- */
.debug .jumbotron {
    background-color: var(--light-blue);
    border: 2px dotted;
    width: 100%;
    height: 770px
}

.debug .col-4 {
    background-color: #ff1c1c;
    border: 2px dotted;
    width: calc(100% / 12 * 4);
    height: 770px
}

.debug .col-12 {
    background-color: #ff1ce8;
    border: 2px dotted;
    height: 480px
}

.debug .small-card {
    background-color: #f7ff1c;
    border: 2px dotted;
    width: calc(100% / 12 * 4);
    /* ----------------------------------------con questa misura non vanno a capo  se allarga il viewport*/
    height: 580px;

}

.debug .many-teams {
    background-color: #491cff;
    border: 2px dotted;
    ;
    height: 480px
}

.debug .partnerships {
    background-color: #ff1c1c;
    border: 2px dotted;
    ;
    height: 480px
}

.debug .bring {
    background-color: #0093ce;
    border: 2px dotted;
    height: 250px
}

.debug .FAQ {
    background-color: #19cca5;
    border: 2px dotted;
    height: 250px
}

.debug footer {
    background-color: black;
    height: 480px;
}

.debug .footer-col {
    background-color: #b4d0e7;
    border: 2px dotted;
    width: calc(100% / 5);
    height: 250px;
}

/* #endregion debug*/

/* #region header*/
.header-left ul {
    justify-content: ;
    align-items: center;
}

.header-left li {
    padding: 1rem;
    font-size: small;
}

/* ---------------------------------------- header left */
header {
    justify-content: space-between;
    /* position: fixed;
    width: 100%;
    height: 50px; */
    /* ----------------------------------------------------------------------------------manca da aggiungere position absolute */
}

.header-right ul {
    align-items: center;
}

.header-right li {
    padding: 1rem;
    font-size: small;
}

#start-btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 0.4rem 1rem;
}

/* #endregion header*/

/* #region jumbotron*/
.jumbotron {
    background-color: var(--light-blue);
}

.jumbotron h1 {
    font-size: 3rem;
    font-weight: 1000;
    padding: 3rem 0;
}

/* ------------------------------------ */

.jumbo-text .col-4 {
    width: calc(100% / 12 * 4);
}

.jumbo-text .col-8 {
    width: calc(100% / 12 * 8);
    ;
}

/* #endregion jumbotron*/